:host {
  font: 14px/1.5em system-ui, verdana, arial, sans-serif;
  color: #555;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 50%;
  height: 22px;
  transform: translateX(-50%);
  z-index: 2;
  padding: 2px 0;
  width: 100vw;
  text-align: center;
  box-shadow: 0 2px 14px #999;

  &::slotted(slot) {
    display: inline;
  }

  ::slotted([slot="year"]) {
    font-weight: bold;
    color: green;
  }

  ::slotted([slot="year"]):before {
    content: "© ";
    color: #555;
    font-size: 1.2em;
    padding-right: 0.2em;
    display: inline-block;
    vertical-align: top;
  }

  ::slotted([slot="year"]):after {
    content: " KooiInc |";
    color: #555;
    font-weight: normal;
    font-style: italic;
  }

  ::slotted([slot="link"]) {
    font-weight: bold;
    text-decoration: none;
  }

  ::slotted([slot="link"]):before {
    content: " ↺ ";
    color: rgb(0, 0, 238);
  }
}
